#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @uxlfoundation/onednn-arch

# Github automation
/.github/ @uxlfoundation/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @uxlfoundation/onednn-cpu-aarch64
/src/cpu/x64/ @uxlfoundation/onednn-cpu-x64
/src/cpu/rnn/ @uxlfoundation/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @uxlfoundation/onednn-gpu-amd
/src/gpu/intel/ @uxlfoundation/onednn-gpu-intel
/src/gpu/nvidia/ @uxlfoundation/onednn-gpu-nvidia
/src/gpu/generic/ @uxlfoundation/onednn-arch
/src/gpu/generic/sycl/ @uxlfoundation/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @uxlfoundation/onednn-maintain
/tests/benchdnn/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/benchdnn/inputs/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/gtests/graph/ @uxlfoundation/onednn-graph

# Graph API
/src/graph/ @uxlfoundation/onednn-graph

# Documentation
*.md  @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch
/doc/ @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch

# Third party components
/third-party/ @uxlfoundation/onednn-arch
/third_party/level_zero/ @uxlfoundation/onednn-gpu-intel
/third_party/mdapi/ @uxlfoundation/onednn-gpu-intel
/third_party/ngen/ @uxlfoundation/onednn-gpu-intel
/third_party/xbyak/ @uxlfoundation/onednn-cpu-x64
/third_party/xbyak_aarch64/ @uxlfoundation/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @uxlfoundation/onednn-maintain
/SECURITY.md @uxlfoundation/onednn-maintain
/MAINTAINERS.md @uxlfoundation/onednn-maintain
/CONTRIBUTING.md @uxlfoundation/onednn-maintain
/CODING_STANDARDS.md @uxlfoundation/onednn-maintain
/CODE_OF_CONDUCT.md @uxlfoundation/onednn-maintain
