[submodule "third_party/oneDNN"]
	path = third_party/oneDNN
	url = https://github.com/oneapi-src/oneDNN.git
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest.git
