# This is the minimal set of components required and using the latest
#  versions

breathe
Sphinx
sphinx-prompt
sphinx_substitution_extensions
sphinx_tabs
sphinx-book-theme
sphinxcontrib-spelling
graphviz
lxml
