# This is the minimal set of components required and using the latest
#  versions


aws-shell # Only needed for deploying the site
breathe
gitpython
Sphinx>=2.4.0
sphinx-notfound-page
sphinx-rtd-theme
sphinx-prompt
sphinx_substitution_extensions
sphinx_tabs
sphinxcontrib-spelling
graphviz
lxml
