# Default
* @dnnl-team/arch

# Documentation
*.md  @dnnl-team/doc @dnnl-team/mgmt
/doc/ @dnnl-team/doc @dnnl-team/mgmt

# CPU-specific optimizations
/src/cpu/ @dnnl-team/cpu

# CPU RNN
/src/cpu/rnn/ @dnnl-team/arch

# CPU BLAS
/src/cpu/gemm/ @dnnl-team/blas @dnnl-team/arch

# GPU-specific optimizations
/src/ocl/ @dnnl-team/gpu

# Tests
/tests/benchdnn/inputs/ @dnnl-team/arch @dnnl-team/cpu @dnnl-team/gpu
